# Ignore Python virtual environment
CMHS_env/

# Ignore cache directory
.cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Logs and local config
*.log
*.env
.env.*

# Python build
build/
dist/
*.egg-info/
